
/*Este é um comentário em CSS*/


/*Esta é uma regra CSS3*/
h1 {
    color: red;
}

/*Esta é uma regra CSS3*/


.link{
    display: inline;
    margin: 5%;
}

header {
    background-color: cyan;
}

h1, h2 {
    font-family: serif;
}

nav {
    font-weight: bolder;
}

.container {
    padding: 20px;
}

section#conteudo {
    line-height: 1.5;
}

form {
    border: 1px gray;
    padding: 10px;
}

p {
    color: green;
}

form button {
    background-color: cyan;
    font-style: white;
}

footer {
    border-top: 2px solid red;
}